*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 24px;
	height: 1800px;
}
h1,h2,h3,h4,h5,h6{
	font-family: monospace;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.green{
	width: 1050px;
	height: 600px;
	background-color: green;
	position: relative;
	margin: 400px 450px;
}
.red{
	width: 300px;
	height: 300px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: 25%;
	left: 35%;

}
.fb{
	width: 100px;
	position: fixed;
	top: 40%;
	right: -60px;
	transition: 1.5s;
}
.fb:hover{
	right: 3px;
}
.linkedin{
	width: 110px;
	position: fixed;
	top: 35%;
	right: -77px;
	transition: 1.5s;
}
.linkedin:hover{
	right: 3px;
}
.whatsapp{
	width: 110px;
	position: fixed;
	top: 44%;
	right: -77px;
	transition: 1.5s;
}
.whatsapp:hover{
	right: 3px;
}

.social-icons{
	width: 100%;
	display: block;
	text-align: center;
	padding: 100px 0px 0px;
}
.social-icons li{
	list-style: none;
	display: inline-block;
}	
.social-icons li a{
	display: block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 40px;
	text-align: center;
	background-color: blueviolet;
	color: white;
	margin: 0px 15px;
	border-radius: 50%;
}
.social-icons li a:hover{
	background-color: black;
	color: white;
	transition: 1s;
}
